[submodule "+Utils/textprogressbar"]
	path = +Utils/textprogressbar
	url = https://github.com/megasthenis/textprogressbar.git
[submodule "+Utils/matlab-utils"]
	path = +Utils/matlab-utils
	url = https://github.com/mpizenberg/matlab-utils.git
[submodule "+SP/+MeanShift/meanshift_edison_matlab_interface"]
	path = +SP/+MeanShift/meanshift_edison_matlab_interface
	url = https://github.com/mpizenberg/meanshift_edison_matlab_interface.git
[submodule "results/superpixels"]
	path = results/superpixels
	url = https://github.com/mpizenberg/otis-saved-superpixels.git
[submodule "+Utils/jsonlab"]
	path = +Utils/jsonlab
	url = https://github.com/fangq/jsonlab.git
[submodule "+GrabCut"]
	path = +GrabCut
	url = https://github.com/mpizenberg/otis-grabcut.git
